#product-sidebar {
  padding: $f42;
  width: 25%;
  position: absolute;
  left: 0;
  top: $f68 + $f68;
  background-color: $lightestgray;
  height: calc(100vh - #{$f68 + $f68});
  z-index: 2;
  border-bottom: 1px solid $lightgray;
  border-right: 1px solid $lightgray;

  .filter-group {
    h2 {
      font-family: 'Roboto Condensed', sans-serif;
      font-size: $f21;
      font-weight: 800;
      color: $darkgray;
    }
    .input-list {
      margin-top: $f13;
      margin-bottom: $f34;
      .form-group {
        font-family: 'Roboto Condensed', sans-serif;
        font-size: $f18;
        font-weight: 500;
        margin-bottom: $f8;
        color: $darkgray;
        input {
          margin-right: $f13;
          vertical-align: top;
          width: $f21;
          height: $f21;
          border: 1px solid $darkgray;
          border-radius: 1px;
          &:checked {
            background-color: $blue;
          }
        }
        label {
          cursor:pointer;
        }
      }

    }
  }

}